body {
    margin: 0;
    background-color: #fae7dc;
}

#page-container {
    position: relative;
    z-index: 1;
}

#background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Styles for the video container */
#background-overlay video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Styles for the main paragraph container */
.main-paragraph-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    max-width: 600px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Optional: Add a shadow effect */
}

.main-paragraph-container p {
    margin: 0;
    /* Remove default margin from the paragraph */
}

/* Styles for the centered heading */
.centered-heading {
    position: fixed;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    color: #914034;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    width: 70%;
}


/* Title for the other pages*/
.title {
    font-size: 53px;
    color: #914034;
    font-weight: bold;
    text-shadow: black;
    font-family: monospace;
    text-align: center;
    margin-bottom: 2em;
}


/* Styles for the second navbar */
.navbar.fixed-bottom {
    display: flex;
    text-align: center;
    /* padding: 20px 0; */
    /* position: relative !important; */
    bottom: 0;
    width: 100%;
    background-color: #fffdfd;
    height: 2em;
}

.main-container {
    display: flex;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(251, 200, 192) !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 5em auto;
    padding: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: inset;
}

.container {
    display: flex;
    flex-wrap: wrap;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(251, 200, 192) !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    width: 60%;
    margin: 1em;
    border: inset;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.contact-container {
    display: flex;
    flex-wrap: wrap;
    color: rgb(0, 0, 0) !important;
    background-color: rgb(251, 200, 192) !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    max-width: 70%;
    width: 35%;
    margin: 1em;
    border: inset;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: justify;
}

.card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: rgb(0, 0, 0, 0.8) !important;
    background-color: rgb(251, 200, 192) !important;
    border-radius: 20px;
    margin: 1em;
}

.card-title {
    font-size: 2em;
    text-align: center;
}

.card_image {
    height: 20rem;
    width: 100%;
    border-radius: 10px;
}
.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal-body{
    padding: 10px !important;
}
.modal-content{
    color: rgb(0, 0, 0) !important;
    background-color: rgb(251, 200, 192) !important;
    border-radius: 20px;
}
.modal-content img {
    width: 96% !important;
}
.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    margin-top: 2rem;
    color: rgb(251, 200, 192) !important;
    font-family: monospace;
}

.contact-header {
    text-align: center;
    font-size: 2em;
    font-family: monospace;
}
